### Doubts

In [2]:
s = "Do gaz ki duuri mask hai zaruri !!!!"

In [3]:
s.count('u')

3

In [4]:
s.count('a')

4

In [6]:
s.count('D',0,15)

1

In [ ]:
#function or methods --> () parentheses

In [7]:
#print("{}".format())

In [8]:
#" ".join(list)

# List

It is a collection of elements or items having similar or different data type.

In [10]:
l = []
print("Empty List --> ",l)
print(type(l))

Empty List -->  []
<class 'list'>

In [11]:
l = [14,3,5,32,25,34,6,35,75,745,"Ravi","hello","Hi","bye","bye",54.353,523523.324]
print("List --> ", l)
print(type(l))

List -->  [14, 3, 5, 32, 25, 34, 6, 35, 75, 745, 'Ravi', 'hello', 'Hi', 'bye', 'bye', 54.353, 523523.324]
<class 'list'>

### Types of List on the basis of elements

1. Homogenous List
2. Heterogenous List

In [17]:
l = [21,4,325,23,64,347,54,7,65,7,35,3,2,53,2634] #Homogenous List
print(f"Homogenous List --> {l}")
l1 = ["Ravi","Ramawat","Tom","Jerry"]
print(f"Homogenous List --> {l1}")



l2 = [214,2,43,25,43,25.45,23,0.3523523,4.32234,32,"Hola","hi","hey"]
print("Heterogenous list --> ",l2)

Homogenous List --> [21, 4, 325, 23, 64, 347, 54, 7, 65, 7, 35, 3, 2, 53, 2634]
Homogenous List --> ['Ravi', 'Ramawat', 'Tom', 'Jerry']
Heterogenous list -->  [214, 2, 43, 25, 43, 25.45, 23, 0.3523523, 4.32234, 32, 'Hola', 'hi', 'hey']

### Types of Lists on the basis of dimensions

In [18]:
l1 = [21,43,25,342,6,475,54,7,43,23,4675,6523] #1D list
l2 = [
    [1,2,3],
    [4,5,6],
    [7,8,9],
] #Matrix or 2D list
l3 = [
    [
        [1,2,3],
        [4,5,6],
        [7,8,9],
    ],
    [
        [11,12,13],
        [14,15,16],
        [17,18,19],
    ]
] #3D List

In [19]:
print("1 D List --> ",l1)
print('2 D List --> ',l2)
print("3 D List --> ",l3)

1 D List -->  [21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523]
2 D List -->  [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
3 D List -->  [[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[11, 12, 13], [14, 15, 16], [17, 18, 19]]]

###  Properties of list

1. Sequential (elements can be called using index)
2. Ordered
3. Mutable

In [20]:
#sequential

In [21]:
l1

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523]

In [23]:
l1[0]

21

In [24]:
l1[1]

43

In [29]:
l2[0]

[1, 2, 3]

In [32]:
l2[1]

[4, 5, 6]

In [33]:
l3[0]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [34]:
l3[1]

[[11, 12, 13], [14, 15, 16], [17, 18, 19]]

In [37]:
l3[1][2][1]

18

In [38]:
l3

[[[1, 2, 3], [4, 5, 6], [7, 8, 9]], [[11, 12, 13], [14, 15, 16], [17, 18, 19]]]

In [41]:
l3[0][1][2]

6

In [42]:
#ordered

In [54]:
l = ["Sun","Mon","Tue","Wed","Thu","Fri","Sat"]

In [55]:
print(l) #ordered

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [56]:
print(id(l))

2250702958912

In [57]:
#Mutable --> changable

In [58]:
l

['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [59]:
l[1] = "Sun"

In [60]:
l #mutable

['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [61]:
print(id(l))

2250702958912

In [62]:
s = "Ravi"

In [63]:
k = s.replace("R","K")

In [64]:
print(id(k))

2250749941040

In [75]:
print(id(s)) #immutable

2250703429488

### Methods of Lists

In [76]:
print(dir(l))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [77]:
l

['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']

In [78]:
#append --> adds a new element in the list at last position

In [80]:
l.append('Sun')

In [81]:
print(l)

['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [82]:
l1

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523]

In [83]:
l1.append(999)

In [84]:
print(l1)

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999]

In [86]:
l1.append([235,235,23])

In [87]:
print(l1)

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999, [235, 235, 23]]

In [88]:
l1.extend(44)

TypeError: 'int' object is not iterable

In [90]:
l1.extend([1,2,3,4])

In [91]:
print(l1)

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999, [235, 235, 23], 1, 2, 3, 4]

In [89]:
#iterable

In [92]:
a = 123 #single component (not iterable)
b = "Python" #iterable
c= 1343.23432 #single component
d = [32,54,32,5,23,5] #iterable

In [94]:
l

['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [95]:
d = l.copy()

In [96]:
r = l

In [97]:
print("l --> ",l)
print("d= l.copy() --> ",d)
print("r=l --> ",r)

l -->  ['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
d= l.copy() -->  ['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
r=l -->  ['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [98]:
l.remove('Sun')

In [99]:
print("l --> ",l)
print("d= l.copy() --> ",d)
print("r=l --> ",r)

l -->  ['Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
d= l.copy() -->  ['Sun', 'Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
r=l -->  ['Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [101]:
d.clear()

In [102]:
print(d)

[]

In [105]:
print(l1)

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999, [235, 235, 23], 1, 2, 3, 4]

In [106]:
l1.pop()

4

In [111]:
l1.pop()

[235, 235, 23]

In [112]:
print(l1)

[21, 43, 25, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999]

In [113]:
l1.pop(0)

21

In [114]:
l1.pop(1)

25

In [115]:
print(l1)

[43, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999]

In [116]:
#remove --> element
#pop --> index

In [118]:
l[0] = "Mon"

In [119]:
print(l)

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [120]:
l1

[43, 342, 6, 475, 54, 7, 43, 23, 4675, 6523, 999]

In [121]:
l1.count(43)

2

In [122]:
l1.count(475)

1

In [123]:
l1.index(999)

10

In [124]:
l1.insert(5,99)

In [125]:
l1

[43, 342, 6, 475, 54, 99, 7, 43, 23, 4675, 6523, 999]

In [126]:
l1.reverse()

In [127]:
l1

[999, 6523, 4675, 23, 43, 7, 99, 54, 475, 6, 342, 43]

In [128]:
l1.sort()

In [129]:
l1

[6, 7, 23, 43, 43, 54, 99, 342, 475, 999, 4675, 6523]

In [130]:
l1.sort(reverse=True)

In [131]:
l1

[6523, 4675, 999, 475, 342, 99, 54, 43, 43, 23, 7, 6]

In [132]:
l

['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

In [133]:
l.sort()

In [134]:
l

['Fri', 'Mon', 'Sat', 'Sun', 'Thu', 'Tue', 'Wed']

In [137]:
l = ["Zara","veer","romio","Tom","Jerry"]

In [138]:
l.sort()

In [139]:
print(l)

['Jerry', 'Tom', 'Zara', 'romio', 'veer']

In [140]:
#ASCII

In [141]:
chr(65)

'A'

In [142]:
chr(90)

'Z'

In [143]:
chr(97)

'a'

In [144]:
chr(122)

'z'

In [149]:
s = "Do gaz ki Duri mask Hai zaruri"

In [150]:
s.casefold()

'do gaz ki duri mask hai zaruri'

In [157]:
firstString = "der Fluß" #unicode characters
secondString = "der Fluss"

# ß is equivalent to ss
if firstString.lower() == secondString.lower():
    print('The strings are equal.')
else:
    print('The strings are not equal.')

The strings are not equal.

In [169]:
"Hello World".center(99,"*")

'********************************************Hello World********************************************'

In [170]:
s = "Hello World"

In [171]:
del s

In [172]:
print(s)

NameError: name 's' is not defined

In [173]:
l = [214,31,25,236,34,6]

In [174]:
l.pop()

6

In [175]:
l.pop(0)

214

In [176]:
l

[31, 25, 236, 34]

In [177]:
del l[0]

In [178]:
l

[25, 236, 34]

In [179]:
del l

In [180]:
print(l)

NameError: name 'l' is not defined

In [181]:
s = "                                     Hello                    World                             "

In [182]:
print(s)

                                     Hello                    World

In [183]:
#s.rjust()ljust()

In [188]:
#s.strip()

In [189]:
s.strip()

'Hello                    World'

In [190]:
s.replace(" ","")

'HelloWorld'

In [193]:
" ".join(s.split())

'Hello World'

In [194]:
s.split()

['Hello', 'World']