# Tuple

It is a collection of elements/items having same or different data types.(Immutable)

In [2]:
t = ()
print("Empty tuple --> ",t)
print(type(t))

Empty tuple -->  ()
<class 'tuple'>

In [3]:
t1 = (1,23,3214,321,4,12,4,"Ravi","Ramawat","Hello","Hi","bye","bye","captain Marvel","loki","Tony Stark")

In [4]:
print(t1)

(1, 23, 3214, 321, 4, 12, 4, 'Ravi', 'Ramawat', 'Hello', 'Hi', 'bye', 'bye', 'captain Marvel', 'loki', 'Tony Stark')

In [5]:
t = (('thor','loki'),('hulk','iron man'),('thanos','ronan'))

In [6]:
print(t)

(('thor', 'loki'), ('hulk', 'iron man'), ('thanos', 'ronan'))

In [8]:
t[0] #sequential

('thor', 'loki')

In [9]:
t[1]

('hulk', 'iron man')

In [60]:
t = (['thor','loki','hulk'],['iron man','thanos','ronan'])

In [13]:
print(t)

(['thor', 'loki', 'hulk'], ['iron man', 'thanos', 'ronan'])

In [15]:
t[0].append('Wanda')

In [16]:
t

(['thor', 'loki', 'hulk', 'Wanda'], ['iron man', 'thanos', 'ronan'])

In [20]:
t[0][0].upper()

'THOR'

### Properties of tuple

1. Sequential
2. Ordered
3. Immutable

In [24]:
print(*t)

['thor', 'loki', 'hulk', 'Wanda'] ['iron man', 'thanos', 'ronan']

In [26]:
t = ("R","A","V","I")

In [29]:
print(*t)

R A V I

In [33]:
print(t[0],t[1],t[2],t[3])

R A V I

In [35]:
print(t)

(['thor', 'loki', 'hulk'], ['iron man', 'thanos', 'ronan'])

In [40]:
print(*t[0],*t[1])

thor loki hulk iron man thanos ronan

### Methods of tuple

In [41]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [51]:
t.count(['thor','loki','hulk'])

2

In [50]:
t

(['thor', 'loki', 'hulk'],
 ['iron man', 'thanos', 'ronan'],
 ['thor', 'loki', 'hulk'],
 ['iron man', 'thanos', 'ronan'])

In [54]:
t[0].pop()

'hulk'

In [56]:
t

(['thor', 'loki'],
 ['iron man', 'thanos', 'ronan'],
 ['thor', 'loki'],
 ['iron man', 'thanos', 'ronan'])

In [58]:
t[3].pop(1)

'thanos'

In [59]:
t

(['thor', 'loki'],
 ['iron man', 'ronan'],
 ['thor', 'loki'],
 ['iron man', 'ronan'])

In [63]:
t

(['thor', 'loki', 'hulk'], ['iron man', 'thanos', 'ronan'])

In [64]:
t.index(['thor','loki','hulk'])

0

In [66]:
t[0].index('thor')

0

In [67]:
t1 = ('Raj','Aryan','Sheetal',"Shalini","Rekha",'jaya','shusma','nirma')

In [68]:
print(t1)

('Raj', 'Aryan', 'Sheetal', 'Shalini', 'Rekha', 'jaya', 'shusma', 'nirma')

In [69]:
t1.index('nirma')

7

In [70]:
t1.index('jaya')

5

# Dictionary

In [71]:
#Words --> meanings

In [72]:
#Dog --> कुत्ता

In [73]:
#God --> भगवान

In [74]:
#Key --> Values

In [75]:
#Key must be unique

In [76]:
d = {}
print("Empty dict --> ",d)
print(type(d))

Empty dict -->  {}
<class 'dict'>

In [77]:
d = {"Name":"Python",
     "Purpose":"Programming Language",
     "Developer":"Guido Van Rossum",
     "Frame Works":["Flask","Django","Pyramid"],
     "Versions":[1,2,3],
     "Latest Version":3.9}

In [78]:
print(d)

{'Name': 'Python', 'Purpose': 'Programming Language', 'Developer': 'Guido Van Rossum', 'Frame Works': ['Flask', 'Django', 'Pyramid'], 'Versions': [1, 2, 3], 'Latest Version': 3.9}

In [79]:
d1 = {'int':[1,2,3,4,5,6,7,8,9],
      'float':[1.1,2.1,3.1,4.1,5.1],
      'complex':[1+1j,4+5j,3+0j,-4-2j],
      'str':['hello','hi','bye','bye']}

In [80]:
print(d1)

{'int': [1, 2, 3, 4, 5, 6, 7, 8, 9], 'float': [1.1, 2.1, 3.1, 4.1, 5.1], 'complex': [(1+1j), (4+5j), (3+0j), (-4-2j)], 'str': ['hello', 'hi', 'bye', 'bye']}

### Properties of dictionary

1. Non-Sequential
2. Ordered
3. Mutable

In [83]:
d1[0] #non sequential

KeyError: 0

In [84]:
d1

{'int': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'float': [1.1, 2.1, 3.1, 4.1, 5.1],
 'complex': [(1+1j), (4+5j), (3+0j), (-4-2j)],
 'str': ['hello', 'hi', 'bye', 'bye']}

In [85]:
d1['int']

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
d1['str']

['hello', 'hi', 'bye', 'bye']

In [89]:
d1['tuple'] = ('a','b'),('c','d')

In [90]:
d1

{'int': [1, 2, 3, 4, 5, 6, 7, 8, 9],
 'float': [1.1, 2.1, 3.1, 4.1, 5.1],
 'complex': [(1+1j), (4+5j), (3+0j), (-4-2j)],
 'str': ['hello', 'hi', 'bye', 'bye'],
 'tuple': (('a', 'b'), ('c', 'd'))}

In [91]:
d1['tuple']

(('a', 'b'), ('c', 'd'))

In [92]:
d2 = {1:'a',2:'b',3:'c',4:'d',1:'e'}

In [93]:
print(d2)

{1: 'e', 2: 'b', 3: 'c', 4: 'd'}

In [94]:
d3 = {1:'a',2:'a',3:'a'}

In [95]:
print(d3)

{1: 'a', 2: 'a', 3: 'a'}

In [97]:
f="                      Hello                          World              !    !    "

In [98]:
f.isspace()

False

In [99]:
f.count(" ")

70

In [102]:
len(f)-len(f.replace(" ",""))

70

In [103]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# HW
Day1-Day5
Assignment 1,2,3